/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Custom style */

                                    /* Moblie version */
body{
    background: linear-gradient(rgb(241, 237, 234),rgb(170, 150, 137));
    font-family: 'Julius Sans One', sans-serif;
    margin: 10px;
}
#headline{
    color: rgb(73, 62, 60);
    font-size:40px;
    text-align: center;
    margin: 30px;
    text-shadow: rgb(92, 90, 88) 0.1em 0.1em 0.2em;  
}

p{
    text-align: center;
    font-size: 30px;
    color: rgb(109, 96, 94);
    margin: 40px 0;
    text-shadow: rgb(61, 61, 61) 0.1em 0.1em 0.2em;
}
img{
    margin: 50px 0 ;
    box-shadow: 4px 6px 6px 2px rgba(128, 114, 106, 0.918);   
}
#description{
    margin: 10px;
}

.text{
    margin: 50px 0;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    text-shadow: rgb(92, 90, 88) 0.1em 0.1em 0.2em;
}

/*added hover style on each the image */
.image{
    color:transparent;
}
.image:hover{
    color:rgb(77, 67, 55);
    font-size: 30px;
    text-align: center;
}

/*changed the background color and size of the icon */
button{
    text-align: center;
   
    background-color: transparent;
    border: none;
}
.im-angle-left:before {
    font-size: 25px;
    color: rgb(202, 193, 193);
}


                                /* Table Version- About page */
 @media screen and (min-width:450px) and (max-width:768px){
    #headline{
        font-size: 45px;
     }

}


                                    /* Desktop Version */
    
 @media screen and (min-width: 768px){
    #headline{
        font-size: 60px;
    }

    #images{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 2fr 2fr ;
    grid-gap: 20px;
    }
 }